<div id="menu">
    <a href="javascript:;" class="close"></a>
    <ul>
        <li class="active"><a href="{{ path("homepage") }}">Accueil</a></li>
        <li><a href="{{ path("fos_user_profile_show") }}">Profil</a></li>
        <li><a href="#">Votes</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</div>