{% extends "base.html.twig" %}

{% block body %}
    <div style="width: 50%; padding-top: 10px;" >
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock %}
