{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <ul class="list-group">
            <li class="list-group-item"><span class="label label-default">Nom</span>{{ activity.description }}</li>
            <li class="list-group-item"><span class="label label-default">Prix</span>{{ activity.price }}</li>
            <li class="list-group-item"><span class="label label-default">Type</span>{{ activity.activityType.name }}</li>
        </ul>
    </div>
{% endblock %}